/node_modules/

# local
/.vscode/
/envhelp/nvm
/envhelp/output
/envhelp/staging
/envhelp/venv
/envhelp/local.depends

# test
/coverage/

# build
__pycache__/
/migux/public/apps/**/*.css
/migux/public/apps/**/*.css.map
/public/build/
/public/components/**/*.css
/public/components/**/*.css.map
/public/coverage/
/migux.egg-info/
/packages.lst

