/node_modules/

# local
/.vscode/
/envhelp/nvm
/envhelp/output
/envhelp/staging
/envhelp/venv
/envhelp/local.depends

# test
/coverage/

# build
__pycache__/
/public/build/
/public/coverage/
/*.egg-info/
/packages.lst

