/dist/
/test/fixtures/

# build
/public/build/**/*.css
/public/build/**/*.css.map
/migux/public/apps/**/*.css
/migux/public/apps/**/*.css.map

# special case SASS source files
src/scss/_root.scss
src/scss/main.scss

