form {
  --mig-ux-field-margin: 0.5rem;

  .form-label {
    margin-bottom: var(--mig-ux-field-margin);

    &__error {
      display: flex;
      justify-content: center;
      position: relative;

      margin-left: var(--mig-ux-field-margin);
      margin-right: var(--mig-ux-field-margin);
      margin-bottom: 2em;

      p {
        display: flex;
        justify-content: center;
        width: 90%;
        z-index: 1;

        position: absolute;
        background-color: var(--bs-warning);
        border: var(--bs-border-width) solid var(--bs-warning);
        border-radius: 0 0 var(--bs-border-radius) var(--bs-border-radius);
        margin-bottom: 0;
      }

      &--compensate {
        p {
          top: calc(-1 * var(--mig-ux-field-margin));
        }
      }
    }

    /***
      nested form fields
      */
    input,
    select {
      width: calc(100% - 2 * var(--mig-ux-field-margin));

      margin-left: var(--mig-ux-field-margin);
      margin-right: var(--mig-ux-field-margin);

      margin-top: var(--mig-ux-field-margin);
      /* align as are adjacent fields */
    }
  }

  /***
    form fields adacent to a form label
    */
  .form-label + input,
  .form-label + select {
    width: calc(100% - 2 * var(--mig-ux-field-margin));

    margin-left: var(--mig-ux-field-margin);
    margin-right: var(--mig-ux-field-margin);

    margin-bottom: var(--mig-ux-field-margin);
    /* consistent gap between fields */
  }
}
