.MiguxTooltip {
  --tooltip-width: 300px;

  position: absolute;
  width: var(--tooltip-width);
  z-index: 99;

  border: 1px dotted black;
  background-color: var(--bs-gray-200);
  border-radius: 0.5rem;
  padding: 5px;
  font-size: 1rem;
  white-space: pre-line;
}
